:root {
    --blue: #03244d;
    --orange: #dd550c;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 75%;
}

h1,
h2,
h3 {
    font-weight: 700;
    line-height: 1.2;
}

body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: var(--white);
    color: #03244d;
}

header {
    display: flex;
    position: fixed;
    height: 13%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    color: var(--white);
    border-bottom: 10px solid #dd550c;
}

header h1 {
    background-color: var(--orange);
    padding-left: 5%;
}

nav {
    padding-right: 5%;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white
}

p {
    margin-top: 1.2rem;
}

/* Class Selectors */

.avatar {
    display: flex;
    width: 100%;
    height: 600px;
    background-image: url(./images/stripes.jpg);
    background-size: cover;
    background-position: center;
    justify-content: flex-end;
    align-items: flex-end;
}

.subtitle {
    display: flex;
    margin: 25px 40px;
    padding: 25px 40px;
    font-size: 30px;
    background-color: #03244d;
    border: 5px solid #dd550c;
    color: white;
}

.content {
    display: flex;
    align-items: center;
}

.section-header {
    margin-left: 2%;
    padding-right: 1%;
    border-right: 2px solid var(--blue);
}

.bio {
    margin-left: 1%;
}

.headshot {
    height: 250px;
    width: fit-content;
    margin: 1% 1% 0 3%;
}