/* Establishes CSS Varibles for use throughout the Project */
:root {
    --blue: #03244d;
    --orange: #dd550c;
    --white: #fff;
}

/* Universal styling selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sets default font size at 12px */
html {
    font-size: 75%;
}

/* Sets headers to bold font and taller line height */
h1,
h2,
h3 {
    font-weight: 700;
    line-height: 1.2;
}


body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    background-color: var(--white);
    color: var(--blue);
}

/* Sets the Header so that it stays at the top of the page as we scroll */
header {
    display: flex;
    position: fixed;
    height: 13%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    color: var(--white);
    border-bottom: 10px solid var(--orange);
}

/* Sets background color and padding for header  */
header h1 {
    background-color: var(--orange);
    padding-left: 5%;
    padding-right: 1%;
}

/* Sets highlight color for header text */
header h1::selection{
    color: var(--blue);
    background: var(--white);
}

/* Sets up nav menu as flexbox */
nav {
    display: flex;
    padding-right: 5%;
}

/* Tells the text in the nav menu how to behave */
nav a {
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 8px;
    color: var(--white)
}

/* Gives a pseudo class to the nav menu when hovered over */
nav a:hover {
    background-color: var(--white);
    color: var(--orange);
    font-weight: 500;
    transition: .25s ease-in;
}

/* Sets text and backgrount color when nav menu is tabbed to or clicked */
nav a:focus {
    color: var(--orange);
    background: var(--white);
}

nav a::selection {
    color: var(--orange);
    background: var(--white);
}

/* Sets up the margins for the main section  */
main {
    margin-top: 2%;
    margin-bottom: 3%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* Sets bottom margin for paragraph sections */
p {
    margin-bottom: 1.2rem;
}

/* Sets up the banner to display */
.banner {
    display: flex;
    width: 100%;
    height: 600px;
    background-image: url(./images/stripes.jpg);
    background-size: cover;
    background-position: center;
    justify-content: flex-end;
    align-items: flex-end;
}

/*Positions the subtitile within the banner*/
.subtitle {
    display: flex;
    margin: 25px 40px;
    padding: 25px 40px;
    font-size: 2.5rem;
    background-color: var(--blue);
    border: 5px solid var(--orange);
    color: var(--white);
}

/* Sets the color for the subtitle when highlighted */
.subtitle::selection{
    color: var(--orange);
    background-color: var(--white);
}

/* Sets up each page section as a flexbox */
.page-section {
    display: flex;
    margin-bottom: 2.5%;
}

/* Formatting for section headers */
.section-header {
    flex: 0 0 10%;
    text-align: right;
    padding-right: 1%;
    border-right: 2px solid var(--blue);
    font-size: 3.5rem;
}

/* Sets text color and background when highlighted for section header */
.section-header::selection {
    color: var(--orange);
    background: var(--blue);
}

/* Setup content sections as a flexbox */
.content {
    display: flex;
    align-items: flex-start;
    margin-left: 2%;
}

/* Sets the max size for photo */
.headshot {
    max-height: 250px;
    width: auto;
}

/* Sets the background color when photo is highlighted */
.headshot::selection {
    background-color: var(--white);
}

/* Sets the Margin for the About Me section */
.bio {
    margin-left: 2%;
}

/* Sets color for text when highlighted */
.bio p::selection {
    color: var(--orange);
    background: var(--blue);
    
}

/* Removes bottom margin at end of bio section */
.bio p:last-child {
    margin-bottom: 0;
}

/* Sets up contact section as a flexbox and centers items */
.contact {
    display: flex;
    align-items: center;
}

/* Sets font color of links to blue  */
.contact a {
    color: var(--blue);
    }

/* Removes padding from first link in contact section to align with rest of content     */
.contact a:first-child {
    padding: 0;
}

/* Sets text color and background when contact link is hovered over  */
.contact a:hover {
    color: var(--orange);
    background: var(--blue);
}

/* Sets text color when contact link is tabbed over or clicked */
.contact a:focus{
    color: var(--orange);
    background: var(--blue);
}

/* Sets text color when contact link is highlighted */
.contact a::selection {
    color: var(--orange);
    background: var(--blue);
}

